[submodule "CriticalCommonLib"]
	url = https://github.com/mokeling/CriticalCommonLib.git
[submodule "FFXIVClientInterface"]
	url = https://github.com/Critical-Impact/FFXIVClientInterface.git
[submodule "LuminaSupplemental"]
	url = https://github.com/Critical-Impact/LuminaSupplemental
[submodule "OtterGui"]
	url = https://github.com/Ottermandias/OtterGui.git
